{% if items|length < 1 %}
    empty
{% else %}
    <div class="cart-preview">
        <ul>
        {% for item in items %}
            {% set product = item.getProduct %}
            <li>
                <div class="row">
                    <div class="image">
                        <img src="{{ asset(('/uploads/images/sources/' ~ product.image) | imagine_filter('thumb_cart')) }}" />
                    </div>
                    <div class="title">
                        {{ item.count }} x {{ product.name }}
                    </div>
                    <span class="price">
                        {{ product.price * item.count }} $
                    </span>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}