<div class="footer-wrapper">
    <div class="container footer">
        {% include 'AppBundle:Footer:footer_body.html.twig' %}
        {% include 'AppBundle:Footer:copyright.html.twig' %}
    </div>
</div>