<div class="row">
    <div class="col-lg-3">
        <h4>
            {% trans %}Information{% endtrans %}
        </h4>
        <ul class="list-unstyled list">
            <li><a href="#">{% trans %}Specials{% endtrans %}</a></li>
            <li><a href="#">{% trans %}New products{% endtrans %}</a></li>
            <li><a href="#">{% trans %}Best sellers{% endtrans %}</a></li>
            <li><a href="#">{% trans %}Sitemap{% endtrans %}</a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h4>
            {% trans %}My account{% endtrans %}
        </h4>
        <ul class="list-unstyled list">
            <li><a href="#">{% trans %}My orders{% endtrans %}</a></li>
            <li><a href="#">{% trans %}My addresses{% endtrans %}</a></li>
            <li><a href="#">{% trans %}My personal info{% endtrans %}</a></li>
            <li><a href="#">{% trans %}My vouchers{% endtrans %}</a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h4>
            {% trans %}Follow us{% endtrans %}
        </h4>
        <ul class="list-unstyled list">
            <li><a href="#">{% trans %}facebook{% endtrans %}</a></li>
            <li><a href="#">{% trans %}twitter{% endtrans %}</a></li>
            <li><a href="#">{% trans %}youtube{% endtrans %}</a></li>
            <li><a href="#">{% trans %}odnoklassniki{% endtrans %}</a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h4>
            {% trans %}Contact us{% endtrans %}
        </h4>
        <ul class="list-unstyled">
            <li class="address">{% trans %}4567 Dupinganger st.{% endtrans %}</li>
            <li class="tel">{% trans %}Tel: 325-65-963{% endtrans %}</li>
        </ul>
    </div>
</div>