<div class="row">
    <div class="col-lg-3">
        <h4>
            INFORMATION
        </h4>
        <ul class="list-unstyled list">
            <li><a href="#">Specials</a></li>
            <li><a href="#">New products</a></li>
            <li><a href="#">Best sellers</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h4>
            MY ACCOUNT
        </h4>
        <ul class="list-unstyled list">
            <li><a href="#">My orders</a></li>
            <li><a href="#">My addresses</a></li>
            <li><a href="#">My personal info</a></li>
            <li><a href="#">My vouchers</a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h4>
            FOLLOW US
        </h4>
        <ul class="list-unstyled list">
            <li><a href="#">facebook</a></li>
            <li><a href="#">twitter</a></li>
            <li><a href="#">youtube</a></li>
            <li><a href="#">RSS</a></li>
        </ul>
    </div>
    <div class="col-lg-3">
        <h4>
            CONTACT US
        </h4>
        <ul class="list-unstyled">
            <li class="address">4567 Dupinganger st.</li>
            <li class="tel">Tel: 325-65-963</li>
        </ul>
    </div>
</div>