<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/app/css/bootstrap.min.css'
                'bundles/app/css/main.css' filter="cssrewrite" %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block header %}
                <div class="row" id="header-strip-top">
                    <div class="container">
                        {% include 'AppBundle:Header:header_top.html.twig' %}
                    </div>
                </div>
                <div class="row" id="header-strip-middle">
                    <div class="container">
                        {% include 'AppBundle:Header:header_middle.html.twig' %}
                    </div>
                </div>
            {% endblock %}
            <div class="row" id="header-strip-bottom">
                <div class="container">
                    {% block menu %}
                        {% include 'AppBundle:Header:menu.html.twig' %}
                    {% endblock %}
                </div>
            </div>
            <div class="row body-wrapper">
                <div class="container body-content">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="row">
                {% block footer %}
                    {% include 'AppBundle:Footer:footer.html.twig' %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/jquery-1.11.3.min.js'
                '@AppBundle/Resources/public/js/bootstrap.min.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
