<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/app-main.css'
                '@AppBundle/Resources/public/css/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% block header %}
                    {% include 'AppBundle:Header:header.html.twig' %}
                {% endblock %}
            </div>
            <div class="row">
                {% block neck %}
                    {% include 'AppBundle:Neck:neck.html.twig' %}
                {% endblock %}
            </div>
            <div class="row">
                <div class="site-body">
                    <div class="container">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% block footer %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/jquery-1.11.3.min.js'
                '@AppBundle/Resources/public/js/bootstrap.min.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
