<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-fixed-margin">
        <div class="container">
            <div class="navbar-header">
                {% include 'AppBundle:Neck:brand.html.twig' %}
            </div>
            <div>
                {% include 'AppBundle:Neck:navigation.html.twig' %}
            </div>
        </div>
    </nav>
</div>