{% extends '::base.html.twig' %}

{% block body %}
    <h1>{% trans %}Registration{% endtrans %}</h1>
    <div>
        {% include 'FOSUserBundle:Registration:register_content.html.twig' %}
    </div>
{% endblock %}