<div class="row">
    <div class="pull-right">
        <div class="call-us">
            <h2>Call Us:</h2>
            <h3>235-36-854</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="pull-right">
        <ul class="list-inline action-bar">
            <li><a href="#" class="content caption">your account</a></li>
            <li>
                <div class="content dropdown" id="cart-preview-container">
                    {% render(controller('AppBundle:Cart:preview')) %}
                </div>
            </li>
        </ul>
    </div>
</div>