<div class="row" id="header-strip-top">
    <div class="container">
        {% include 'AppBundle::header_top.html.twig' %}
    </div>
</div>
<div class="row" id="header-strip-middle">
    <div class="container">
        {% include 'AppBundle::header_middle.html.twig' %}
    </div>
</div>