<div id="header-middle">
    <div class="col-lg-6 no-padding">
        {% include 'AppBundle::logo.html.twig' %}
    </div>
    <div class="col-lg-6">
        {% include 'AppBundle::header_middle_right_block.html.twig' %}
    </div>
</div>