<div class="product">
    <div class="image">
        {% image '@AppBundle/Resources/public/images/product_default.jpg' %}
            <img src="{{ asset_url }}" />
        {% endimage %}
        <span class="price">
            122$
        </span>
    </div>
    <h5>
        <span class="name">
            Dickinsons apricot glazed balsamic salmon
        </span>
    </h5>
    <a href="" class="btn btn-default">Add to cart ></a>
</div>