{% extends '::base.html.twig' %}

{% block menu %}
    {% include 'AppBundle::profile_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Orders</h1>
    <ul class="list-unstyled orders-list">
        <li>
            <p>Comming soon</p>
        </li>
    </ul>
    <div class="pagination"></div>
{% endblock %}