{% extends '::base.html.twig' %}

{% block menu %}
    {% include 'AppBundle:Profile:profile_menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{% trans %}profile.title.orders{% endtrans %}</h1>
    <ul class="list-unstyled orders-list">
        <li>
            <p>{% trans %}Comming soon{% endtrans %}</p>
        </li>
    </ul>
    <div class="pagination"></div>
{% endblock %}