<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Admin panel
            {% endblock %}
        </title>
    </head>
    <body>
        
    </body>
</html>