{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block top_bar_after_nav %} 
    <li>
        <a href="{{ path('acme_demo_hello_index', {'name': 'World'}) }}">
            Statistik
        </a>
    </li>
{% endblock %}
