{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <ul class="row product-list">
        {% for meal in category.meals %}
            <li class="col-md-3">
                {% include 'AppBundle:Misc:product_block.html.twig' with {'product': meal} only %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}