{% extends '::base.html.twig' %}

{% block cart %}
    CART
{% endblock %}

{% block body %}
Meals available

{% render(controller('AppBundle:Navigation:CuisineNavigation')) %}

<ul>
{% for meal in meals %}
    <li>
        <img src="{{ asset(('/uploads/images/sources/' ~ meal.image) | imagine_filter('thumb_small')) }}" />
        <span>{{ meal.price }} р.</span>
        <span>{{ meal.weight }} г.</span>
    </li>
{% endfor %}
</ul>
{% endblock %}