{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/cart-controller.js'
        '@AppBundle/Resources/public/js/product-parser.js'
        '@AppBundle/Resources/public/js/cart.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% include 'AppBundle:Misc:teaser.html.twig' %}
    <h4>
        <span>featured products</span>
    </h4>
    <div class="row body">
        <ul class="row product-list">
            {% for product in products %}
            <li class="col-md-3">
                {% include 'AppBundle::product_block.html.twig' with {'product' : product} only %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}