{% extends '::base.html.twig' %}

{% block cart %}
    CART
{% endblock %}

{% block body %}
    {% include 'AppBundle:Misc:teaser.html.twig' %}
    <h4>
        <span>featured products</span>
    </h4>
    <div class="row body">
        <ul class="row product-list">
            <li class="col-md-3">
                {% include 'AppBundle::product_block.html.twig' %}
            </li>
            <li class="col-md-3">
                {% include 'AppBundle::product_block.html.twig' %}
            </li>
            <li class="col-md-3">
                {% include 'AppBundle::product_block.html.twig' %}
            </li>
            <li class="col-md-3">
                {% include 'AppBundle::product_block.html.twig' %}
            </li>
            <li class="col-md-3">
                {% include 'AppBundle::product_block.html.twig' %}
            </li>
        </ul>
    </div>
{% endblock %}