{% extends '::base.html.twig' %}

{% block cart %}
    CART
{% endblock %}

{% block body %}
    <div class="row body">
        <div class="col-lg-4">
            <a href="#" class="teaser">
                {% image '@AppBundle/Resources/public/images/teaser-chinese.png' %}
                    <img src="{{ asset_url }}" class="" alt="chinese food" />
                {% endimage %}
                <div class="caption">
                     Chinese
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#" class="teaser">
                {% image '@AppBundle/Resources/public/images/teaser-japan.png' %}
                    <img src="{{ asset_url }}" class="" alt="japan food" />
                {% endimage %}
                <div class="caption">
                    Japan
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#" class="teaser">
                {% image '@AppBundle/Resources/public/images/teaser-korean.png' %}
                    <img src="{{ asset_url }}" class="teaser" alt="korean food" />
                {% endimage %}
                <div class="caption">
                    Korean
                </div>
            </a>
        </div>
    </div>
{% endblock %}