body {
    font: italic 14px/21px Georgia,"Times New Roman",Times,serif;
    color: #2f2f2f;
}

a {
    color: #fff;
}

a:hover {
    color: #fda203 !important;
    text-decoration: none;
}

a:active {
    color: #fda203 !important;
    text-decoration: none;
}

a:focus {
    color: #fda203;
    text-decoration: none;
}

#header-strip-top {
    background: #000;
}

#header-strip-middle {
    background: #fea203;
}

#header-strip-bottom {
    background: url(../../bundles/app/images/bg_menu.jpg);
}

#header-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1em;
    text-transform: uppercase;
    font-style: normal;
}

#header-links li a.active {
    color: #fda203;
}

.no-padding {
    padding: 0 !important;
}

.navbar-nav li {
    background: url(../../bundles/app/images/side-border.gif) no-repeat center left;
}

.navbar-nav li:first-child {
    background: none;
}

.navbar-nav li a:hover {
    background: none;
    color: #fda203 !important;
}

#logo {
    display: block;
}

/* Remove bootstrap default margin bottom for ul */
.misc {
    margin-bottom: 0 !important;
}

.misc li a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    padding: 15px;
}

#header-middle {
    padding-top: 40px;
}

#header-middle h2 {
    text-align: right;
    font-size: 27px;
    line-height: 28px;
    color: #000;
    margin: 0;
    font-family: Georgia,"Times New Roman",Times,serif;
}

#header-middle h3 {
    font-size: 37px;
    line-height: 38px;
    color: #fff;
    margin: 0;
    font-family: Georgia,"Times New Roman",Times,serif;
}

#header-middle .action-bar {
    margin-top: 40px;
}

.action-bar {
    margin-bottom: 0 !important;
}

.action-bar li {
    background: #000;
}

.action-bar li .content {
    position: relative;
    display: block;
    padding: 15px;
    color: #fff;
}

.action-bar .caption {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
}

.cart-label {
    text-decoration: none;
}

.action-bar .cart {
    background: #fff;
    margin: 0 -5px 0 0;
    padding: 0;
    right: 0;
    left: auto;
    border: 1px solid #ccc;
    border-radius: 0;
}

.cart .content {
    padding: 10px;
    color: #2f2f2f !important;
}

.cart .order-list {
    padding: 0;
}

.menu {
    margin-bottom: 0 !important;
}

.menu li {
    background: url(../../bundles/app/images/border-menu.png) no-repeat center left;
}

.menu li:first-child {
    background: none;
}

.menu li a {
    color: #2f2f2f;
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    padding: 15px;
}

.body-wrapper {
    background: url(../../bundles/app/images/bg_body.jpg) repeat-x;
    background-color: #fff;
}

.body-content {
    margin-top: 30px;
}

.footer-wrapper {
    background: #333;
}

.footer {
    padding: 40px 0 10px 0;
}

.footer h4 {
    font-size: 13px;
    line-height: 18px;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    margin: 0 0 24px;
    padding-bottom: 18px;
    border-bottom: 1px dashed #999;
}

.footer .list li {
    padding: 0 0 8px;
}

.footer .list li a:before{
    content: "\2022";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 10px;
    margin-right: 12px;
    line-height: 10px;
    color: #6f6f6f;
    position: relative;
    top: -2px;
}

.footer .list li a {
    font-size: 15px;
    word-wrap: break-word;
    color: #fda203;
}

.footer .address {
    color: #828281;
    margin-bottom: 18px;
}

.footer .tel {
    color: #fff;
}

.copyright {
    border-top: 1px dashed #999;
    color: #fff;
    padding: 10px 0;
}

.misc .dropdown-menu {
    background: #444;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.misc .dropdown-menu li {
    border-top: 1px solid #979797;
}

.misc .dropdown-menu li:first-child {
    border-top: none;
}

.misc .dropdown-menu li a {
    color: #fff;
    padding: 8px 5px 8px 10px;
    vertical-align: middle;
}

.misc .dropdown-menu li a.active {
    color: #fda203;
}

.misc .dropdown-menu li a:hover {
    background: none;
}

.flag {
    width: 26px;
    height: 16px;
    margin: -3px 10px 0 0;
}

.lang {
    line-height: 16px;
}