{% extends '::base.html.twig' %}

{% block body %}
    <h1>{% trans %}Login{% endtrans %}</h1>
    <div class="row">
        <div class="col-lg-6">
            {% include "FOSUserBundle:Security:login_content.html.twig" %}
        </div>
        <div class="col-lg-6">
            {% include "FOSUserBundle:Security:login_support_block.html.twig" %}
        </div>
    </div>
{% endblock %}