<div id="header-middle">
    <div class="col-lg-6 no-padding">
        <a href="#" id="logo">
            {% image '@AppBundle/Resources/public/images/logo.jpg' %}
                <img src="{{ asset_url }}" />
            {% endimage %}
        </a>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="pull-right">
                <div class="call-us">
                    <h2>Call Us:</h2>
                    <h3>235-36-854</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                <ul class="list-inline action-bar">
                    {% if account is defined and account == true %}
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}" class="content caption">
                            {% if app.user %}
                                {{ app.user.username }}
                            {% else %}
                                your account
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% if cart is defined and cart == true %}
                    <li>
                        <div class="content dropdown" id="cart-preview-container">
                            {% render(controller('AppBundle:Cart:preview')) %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>