<div class="col-lg-6 no-padding">
    {% include 'AppBundle:Header:navigation.html.twig' %}
</div>
<div class="col-lg-6 no-padding">
    <div class="pull-right">
        {% include 'AppBundle:Header:misc.html.twig' %}
    </div>
</div>