body {
    background: #333;
}

.row.body {
    padding: 20px 0;
}

.site-header {
    height: 50px;
    background-color: #1a1a1a;
    line-height: 50px;
    color: #999;
}

.navbar-fixed-margin {
    margin-top: 50px;
}

.site-body {
    background: #FFF;
    padding-top: 50px;
}

.nav.navbar-nav > li > a {
    color: #FFF !important;
}

.footer {
    background: #333;
}

.footer-body {
    padding: 100px 0;
    text-align: center;
    color: #FFF;
}